click==8.0.3
distlib==0.3.4
filelock==3.6.0
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mutagen==1.45.1
platformdirs==2.5.1
pycparser==2.21
pyOpenSSL==19.0.0
requests==2.27.1
SQLAlchemy==1.4.31
sqlparse==0.4.2
websockets==10.1
Werkzeug==2.0.3
