altgraph==0.17.2
asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
cryptography==36.0.1
dill==0.3.4
distlib==0.3.4
Django==4.0.2
ele==0.2.0
emoji==1.2.0
filelock==3.6.0
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gTTS==2.2.3
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mutagen==1.45.1
platformdirs==2.5.1
pycparser==2.21
pycryptodomex==3.14.1
pygame==2.1.2
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
pyjokes==0.6.0
pyOpenSSL==19.0.0
pyttsx3==2.90
requests==2.27.1
six==1.16.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.31
sqlparse==0.4.2
urllib3==1.26.8
virtualenv==20.14.0
websockets==10.1
Werkzeug==2.0.3
yt-dlp==2022.2.4
